* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

body {

    background-image: url(images/Fondo.jpg);
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(images/83e01076cf6026dfd82a9dbe03fe13db.jpg);
    background-size: cover; 
    
}

h1{
    font-size: x-large;

}

